/* font Inter e Outfit  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');



/* Impostazione della pagina e logo */
/* copio lo snippet HTML di seguito cosi si può copiare ed incollare.
cosi ognuno puo modificare la propria pagina dalla sezione main in poi senza toccare i tag precedenti.

<body>
    <section class="pageWrapper">
    <header>
        <div>
            <img class="logoEpicode" src="./assets/img/epicode_logo.png" alt="Epicode Logo">

        </div>   
    </header>
    <main>
        
    </main>
    </section>
    <script src="./assets/js/script.js"></script>
</body>

*/

/* Questi sono i tag con le caratteristiche uguali per tutti */
* {
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}


.pageWrapper{
    width: 70%;
    margin: auto;
}   


header div{
  margin-top: 3em;

}

.logoEpicode{
    height: 3em;

}

main{
    font-family: "Outfit", sans-serif;
    color: #E7E7EB;
    margin-top: 4em;
}

.inter{
    font-family: "Inter", sans-serif;
}

.center {
    text-align: center;
}
/* fine tag uguali per tutti */


/* css prima pagina */
input[type="checkbox"]{
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background-color: #00000000;
    border: 2px solid #E7E7EB;
    margin: 0 1em -0.25em 0;
    
}
input[type="checkbox"]:checked{
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/check.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #E7E7EB;
    margin: 0 1em -0.25em 0;
}
#h1Prima h1{
    font-weight: 400;
    font-size: 5em;
    width: 50%;
   }

h1 b{
    font-weight: bold;
}

#h2Prima{
    margin: 2em 0 2em 0;
    width: 50%;

}
#h2Prima h2{
    color: #D20094;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5em;
}

#h2Prima p{
    font-size: 1.2em;
    color: white;
    font-weight: 400;
    line-height: 1.2em;
}

#unorderList{
    margin: 2em 1em 2em 1em;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
}

#unorderList li b{
    font-weight: bold;
}

#terms{
    margin-top: 4em;   
    position: relative;
}

#proceed{
    float: right;
    cursor: pointer;
}

.neonButton{
    font-size: 1.5em;
    font-weight: bold;
    background-color: #00FFFF ;
    color: #17192c;
    padding: 0.8em 2em ;
    border: none;
    box-shadow: 0px 0px 21px 0px #00FFFF;
    margin-top: -1em;
}

/* fine css prima pagina */


/* Codici colori e relative classi */


.pink{
    color: #D20094;
    color: #900080;
}

.neonBlue{

    color: 0.5em 0.5em 0.5em 0.5em #00FFFF;
}

/* CSS creato da Timoteo per la sua pagina */

.timer {
    text-align: center;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 3em;
    margin-top: -3.5em;
    float: inline-end;
    height: 3em;
}

.timer p {
    font-size: 0.18em;
    margin-bottom: 4em;
    text-transform: uppercase;
    line-height: 2.5em;
    position: relative;
    top: -12.75em;
}

.base-timer {
    position: relative;
    width: 3em;
    height: 3em;
}  

.base-timer__circle {
    fill: none;
    stroke: none;
}
  
.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: rgba(128, 128, 128, 0.2);
}
  
.base-timer__path-remaining {
    stroke-width: 10px;  
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
    transform: rotate(90deg);
}
  
.base-timer__path-remaining.green {
    stroke: #00FFFF;
}
  
.base-timer__path-remaining.orange {
    color: orange;
}
  
.base-timer__path-remaining.red {
    color: red;
}
  
.base-timer__label {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.question {
    align-content: center;
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    margin: 3em auto 0 auto;
    height: 4.5em;
    font-weight: 700;
    line-height: 1.1em;
}
.question::first-line{
    font-weight: 400;
}
form {
    height: 13em;
    margin: 0 auto;
}

form button {
    margin: 1.5% 2.5%;
    padding: 1em 2em;
    border: 3px solid transparent;
    color: white;
    background:
      linear-gradient(170deg, rgba(46, 46, 94, 0.8) 2%,rgba(46, 46, 94, 0.5)20%, rgba(46, 46, 94, 0.1)) padding-box,
      linear-gradient(170deg, #FFFEFE 2%, rgba(255, 255, 255, 0.5) 4%, transparent) border-box;
    border-radius:1000px;
    font-size: 1em;
    width: 44.5%;
    height: 4.5em;
    font-weight: 900;
}

form button:hover {
    background:
    linear-gradient(170deg, #900080,#D20094) padding-box,
    linear-gradient(170deg, #fff, #D20094) border-box;
    cursor: pointer;
  }

footer p{
    font-weight: 700;
    color: white;
    margin-top: 6em;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}

footer p span {
    color: #900080;
}

/* Fine CSS creato da Timoteo per la sua pagina */


/*Css Juliet*/



.partesopra h1 {
    font-size: 3.2em;
    color: white;
    font-weight: 700;
    margin: 10px 0;
}

.partesopra p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.3em;
    
}

.star {
   font-size: 4em;
   color:  #060a2d ;
   cursor: pointer;
   transition: color 0.1s ease;
}

.star.selected, .star.hovered {
    color: #00FFFF;
}
 
 textarea{
    width: 50%;
    border: none;
    border-bottom: 2px solid #ff0080;
    background: transparent;
    color: white;
    padding-top: 3rem;
    outline: none;
    line-height: 0.7em;
    padding-left: 1.5em;
    height: 100%;
    overflow: hidden;
    resize: none;
    display: block;
    margin: 0 auto 6em auto;   
};


textarea::placeholder {
    color:rgba(255, 255, 255, 0.6);
    left: 10px;
    font-size: 0.9rem;
    pointer-events: none; 
   
}

#lastparaph {
    color: white;
    font-size: 1.5em;
    margin-top: 3.5rem ;
}
    
/* fine css Juliet*/
/* inizio css Meridjan */
.inlineBlock{
    display: inline-block;
    vertical-align: middle;
}

h1,h2{
    margin: 0;
}
.big{
    font-size: 5em;
}
#buttonM {
    border-color: #E7E7EB;
    background-color: #00000000;
    padding: 0.7em 3em;
    color: #E7E7EB;
    font-weight: 700;
    font-size: 1.5em;
    margin: auto;
    border-style: solid;
}

.positionA{
height: 10%;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
#chart{
    width: 30%;
    width: 30%;
    min-width: 20vw;
    min-width: 20vw;
    position: relative;
    margin: 3em 5em;
}
.correct{
    text-align: left;
}
.wrong{
    text-align: right;
}
.positionA p{
    max-width: 100%;
    max-height: 100%;
}
.correct p, .wrong p{
    margin-top: 0;
    margin-bottom: 0;
}
.bold{
    font-weight: 900;
}
.lightBold{
    font-weight: 600;
}
#wrongRate, #correctRate{
    font-size: 2em;
    font-weight: lighter
}
#p1{
    font-weight: bold;
}
#p2{
    font-weight: bold;
    color: #00FFFF;
}
#p3, #p4{
    font-weight: lighter;
    font-size: 0.9em;
}
